<div class="cart">
  <header class="header">
    <h2>Sales Cart</h2>
    <div style="margin-top: 55px; margin-left: 210px;">
      <button class="order-margin" mat-raised-button color="primary" (click)="addPatient()" matTooltip="Place Order">Add Patients</button>
    </div>
  </header>

  <!-- Bill Details -->
  <div class="bill-details marg-top">
    <p style="font-size: 1.25rem; margin-left: 58px;"><strong>Bill Date:</strong> {{ todayDate | date }}</p>
    <div style="margin-top: -39px; margin-left: 18%;">
    <label for="customerName" style="font-size: 1.25rem;"><strong>Customer Name: </strong></label>
      <input
        id="customerName"
        [(ngModel)]="customerName"
        (ngModelChange)="updateCustomerName()"
        placeholder="Enter customer name"
        style="
        border: 1px solid rgb(1, 0, 80);
        border-radius: 2px; height: 18px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-sizing: border-box;
        padding: 1rem;
        background-color: #fff;
        transition: transform 0.3s ease-in-out;
        position: relative;
        font-size: 1.3rem;
        width: 16%;"
        matTooltip="Customer Name"
        type="text"
        [formControl]="customerNameControl"
        (focus)="customerNameSuggestions = []"
        (keydown)="onKeydown($event)"
      />
      <!-- NAME SUGGESTIONS -->
      <ul *ngIf="customerNameSuggestions.length>0">
        <li  *ngFor="let suggestion of customerNameSuggestions; let index = index" [ngClass]="{ 'highlighted': highlightedIndex === index }" (click)="selectCustomerName(suggestion.firstName)" #suggestionsList>
          {{ suggestion.firstName }} {{ suggestion.lastName }}
        </li>
      </ul>
      <div style="margin-top: -33px; margin-left: 390px;">
        <!-- OVERALL DISCOUNT -->
        <label style="
                  margin-top: -200px;
                  margin-left: 80px;
                  font-size: 1.25rem;"
                  for="overallDiscount"
        ><strong>Overall Discount (%): </strong></label>
        <input
          id="overallDiscount"
          [value]="overallDiscount || 0"
          (input)="onOverallDiscountInput($event)"
          placeholder="Discount %"
          maxlength="2"
          type="text"
          style="
          border: 1px solid rgb(1, 0, 80);
          border-radius: 2px; height: 18px;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          box-sizing: border-box;
          padding: 1rem;
          background-color: #fff;
          transition: transform 0.3s ease-in-out;
          position: relative;
          font-size: 1.3rem;
          width: 10%;"
          matTooltip="Aggregate Discount"
        />
      </div>
    </div>
  </div>

  <main style="width: 90%; align-self: center; margin-top: 20px;" class="cart-content">
    <div *ngIf="cart.length === 0" class="empty-cart">Your cart is empty.</div>
    <table *ngIf="cart.length > 0" class="cart-table results-table" style="width: 100%;">
      <thead>
        <tr>
          <th style="width: 20%;">Item Name</th>
          <th style="width: 15%;">Unit/Pack</th>
          <th style="width: 10%;">Batch</th>
          <th style="width: 10%;">Expiry</th>
          <th style="width: 8%;">MRP</th>
          <th style="width: 6%;">Qty.</th>
          <th style="width: 6.2%;">Discount (%)</th>
          <th style="width: 7%;">Amount</th>
          <th style="width: 10%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicine of cart">
          <td>{{ medicine.medicine_name }}</td>
          <td>{{ medicine.packing_size }}</td>
          <td>
            <!-- BATCH NUMBER  -->
            <input
              matInput
              [value]="medicine.batch_number || ''"
              (input)="onBatchNumberInput($event, medicine)"
              placeholder="Batch eg. XYZ123"
              style="width: 100px;"
              maxlength="10"
              type="text"
              matTooltip="Enter Batch Number"
            />
            <div *ngIf="!isBatchValid(medicine)" class="error-message" style="color: red;">Batch number is required.</div>
          </td>
          <td>
            <!-- EXPIRY DATE -->
            <input
              [value]="medicine.expiry_date || ''"
              (input)="onExpiryDateInput($event, medicine)"
              placeholder="MM/YY"
              maxlength="5"
              type="text"
              style="width: 80px;"
              type="text"
              matTooltip="Add Expiry Date"
            />
            <div *ngIf="!isExpiryDateValid(medicine)" class="error-message" style="color: red;">Expiry date is required.</div>
            <div *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage }}</div>
          </td>
          <td>{{ medicine.price | currency:'INR':'symbol':'1.2-2' }}</td>
          <td>
            <!-- QUANTITY -->
            <input
              [value]="medicine.quantity"
              (input)="onQuantityInput($event, medicine)"
              placeholder="Qty."
              maxlength="4"
              type="text"
              style="width: 60px;"
              type="text"
              matTooltip="Enter Quantity"
            />
            <div *ngIf="!isQuantityValid(medicine)" class="error-message" style="color: red;">Quantity must be greater than 0 & can't be null.</div>
          </td>
          <td>
            <!-- DISCOUNT  -->
            <input
              [value]="medicine.discount || 0"
              (input)="onDiscountInput($event, medicine)"
              placeholder="Discount %"
              maxlength="2"
              type="text"
              style="width: 60px;"
              matTooltip="Enter Discount"
            />
          </td>
          <td>{{ getDiscountedAmount(medicine) | currency:'INR':'symbol':'1.2-2' }}</td>
          <td style="text-align: center;">
            <button mat-icon-button (click)="removeFromCart(medicine)" matTooltip="remove from cart">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <div class="total-bill">
    <h3 class="bill-margin">Total Bill (Before Overall Discount): {{ totalBillBeforeDiscount | currency:'INR':'symbol':'1.2-2' }}</h3>
    <h3 class="bill-margin" style="margin-top: 23px; margin-bottom: -23px;">Total Discount Amount: {{ totalDiscountAmount | currency:'INR':'symbol':'1.2-2' }}</h3>
    <h3 class="bill-margin" style="margin-top: 25px;
    margin-right: 0px;
    margin-left: 1320px;
    margin-bottom: -20px;"><b>Total Bill (After Overall Discount): {{ totalBillAfterOverallDiscount | currency:'INR':'symbol':'1.2-2' }}</b></h3>
    <p style="margin-bottom: -20px; margin-right: 1170px;">Hoping your health will be well and good! Take care. (:</p>
  </div>

  <div *ngIf="cart.length > 0" class="place-order">
    <button class="order-margin" mat-raised-button color="primary" (click)="placeOrder()" matTooltip="Place Order">Place Order</button>
  </div>
</div>
