<div style="text-align: center; overflow: hidden;">
  <h1>Page Not Found!</h1>
  <p class="zoom-area"><b>Note:</b> The page you're looking for might not be available or the address has changed. We're sorry :( </p>
  <section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
  </section>
  <img style="width: 20%; height: auto; margin: 20px 0;" src="https://staging.evitalrx.in/assets/images/empty_image.svg" alt="">
  <div class="link-container">
    <a (click)="goBack()" class="more-link">Go Back</a>
  </div>
</div>
